# Unreal Engine file types.
*.uasset filter=lfs diff=lfs merge=lfs -text
*.umap filter=lfs diff=lfs merge=lfs -text
# Raw Content file types.
*.fbx filter=lfs diff=lfs merge=lfs -text
*.3ds filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.mp3 filter=lfs diff=lfs merge=lfs -text
*.wav filter=lfs diff=lfs merge=lfs -text
*.xcf filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.ucas filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
*.pdb filter=lfs diff=lfs merge=lfs -text
# Anything in `/RawContent` dir.
/RawContent/**/* filter=lfs diff=lfs merge=lfs -text
"C:/Users/rhyde/OneDrive/Desktop/Unreal Projects/Space_Scavenger/Space-Scavenger" filter=lfs diff=lfs merge=lfs -text
"C:/Users/rhyde/OneDrive/Desktop/Unreal Projects/Space_Scavenger/Space-Scavenger/BuildFolder/*" filter=lfs diff=lfs merge=lfs -text
C:/Users/rhyde/OneDrive/Desktop/Unreal[[:space:]]Projects/Space_Scavenger/Space-Scavenger/BuildFolder/* filter=lfs diff=lfs merge=lfs -text
*.ucas filter=lfs diff=lfs merge=lfs -text